
<% if (config.aomori_search_algolia){ %>
    <%- partial('_partial/search') %>
<% } %>

<div class="widget" id="widget">
    <% config.aomori_widgets.forEach(function(widget){ %>
      <%- partial('_widget/' + widget) %>
    <% }) %>
</div>

<!-- 二维码 -->
<style type="text/css">
  .qrcode-wrap {
    width: 100%;
  }
  .qrcode-wrap img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    object-fit: cover;
  }
</style>
<div class="qrcode-wrap">
  <img src="/images/qrcode.png" alt="">
</div>

<div id="backtop"><i class="icon icon-arrow-up"></i></div>